<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "alfredo.jpg",
            width:300, alt: "Profile image" %>
    </div>

    <div class="col-md-8">
        <p>Im a 24 YO passionate Jr software developer </p>
    </div>
</div>
